// background
$volumio-ui-body-color: $color-white;
$volumio-ui-body-background: $color-grey-dust;

// grid gutters
$volumio-ui-grid-gutter: 1rem;

// header
$volumio-ui-sticky-header-height: 2rem;

// typography
$volumio-ui-line-height-body: 2.2rem;

$volumio-ui-text-body: $font-arial;
$volumio-ui-text-header: $font-arial;


// buttons
$volumio-ui-button-background: $color-green-shamrock;
$volumio-ui-button-color: $color-white;

// notice
$volumio-ui-notice-background: $color-green-shamrock;
$volumio-ui-notice-color: $color-white;