@import "_settings";

@font-face
{
  font-family: "FontAwesome";
  src: url('#{$font-library}/font-awesome.eot?v=#{$font-version}');
  src: url('#{$font-library}/font-awesome.eot?#iefix&v=#{$font-version}') format('embedded-opentype'),
  url('#{$font-library}/font-awesome.woff?v=#{$font-version}') format('woff'),
  url('#{$font-library}/font-awesome.ttf?v=#{$font-version}') format('truetype'),
  url('#{$font-library}/font-awesome.svg?v=#{$font-version}#fontawesomeregular') format('svg');
  //src: url('#{$font-library}/font-awesome.otf') format('opentype'); // used when developing fonts
  font-weight: normal;
  font-style: normal;
}
