/* Colors made using http://chir.ag/projects/name-that-color/#333333 */

$color-white: #FFFFFF;
$color-grey-dust: #999999;
$color-grey-emperor: #555555;
$color-grey-mine: #333333;

$color-blue-bluewood: #31415c;
$color-blue-scooter : #30beda;

$color-green-shamrock: #2ecc71;

$color-red-cinnabar: #e74c3c;

$color-purple-lavender: #cb8fe3;