@import "_settings";

.ui-logo
{
  height: $volumio-ui-sticky-header-height;
  width: auto;
  background: black;

  &--image
  {
    height: 100%;
    width: auto;
  }
}

@include respond-to(mobile)
{
  .ui-logo
  {
    background: yellow;
  }
}

@include respond-to(tablet)
{
  .ui-logo
  {
    background: hotpink;
  }
}