<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
   
    
    <!-- Bootstrap -->
    <link href="./stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
   
    
    
  </head>
  <body>
  	
  		
  	
  
		<h2>MPD Commands</h2>
		<button id='button-mpdprev'>Previous Track</button>
		<button id='button-mpdplay'>Play</button>
		<button id='button-mpdstop'>Stop</button>
		<button id='button-mpdnext'>Next Track</button>

		<h2>Spop Commands</h2>
		<button id='button-spopprev'>Previous Track</button>
		<button id='button-spopplay'>Play</button>
		<button id='button-spopstop'>Stop</button>
		<button id='button-spopnext'>Next Track</button>

		<h2>Console</h2>
		<button id='button-clearconsole'>Clear</button>
		<ul id='console'></ul>

		
		
		
		

		
		
		<script src="./scripts/assets/jquery.1.11.1.min.js"></script>
  		<script src="./scripts/assets/socket.io-1.2.0.js"></script>
		<script src="./scripts/assets/angular.min.js"></script>
		<script src="./scripts/volumio/index-socketio-controller.js"></script>
		<script src="./scripts/assets/bootstrap.min.js"></script>
		
		<script src="./scripts/assets/ui-bootstrap-custom-0.12.0.min.js"></script>
		<script src="./scripts/assets/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>
		
		
		
		

	</body>
</html>
