<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<h2>MPD Commands</h2>
		<button id='button-mpdprev'>Previous Track</button>
		<button id='button-mpdplay'>Play</button>
		<button id='button-mpdstop'>Stop</button>
		<button id='button-mpdnext'>Next Track</button>

		<h2>Spop Commands</h2>
		<button id='button-spopprev'>Previous Track</button>
		<button id='button-spopplay'>Play</button>
		<button id='button-spopstop'>Stop</button>
		<button id='button-spopnext'>Next Track</button>

		<h2>Console</h2>
		<button id='button-clearconsole'>Clear</button>
		<ul id='console'></ul>

		<script src="./scripts/index/socket.io-1.2.0.js"></script>
		<script src="./scripts/index/index-socketio-controller.js"></script>

	</body>
</html>
