<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <!-- Bootstrap -->
    <!-- <link href="./stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  </head>
  <body>
		<h3>Commands</h3>
		<button id='button-volumioplay' class='control-websocket' disabled>Play</button>
		<button id='button-volumiopause' class='control-websocket' disabled>Pause</button>
		<button id='button-volumiostop' class='control-websocket' disabled>Stop</button>
		<button id='button-volumioprev' class='control-websocket' disabled>Prev</button>
		<button id='button-volumionext' class='control-websocket' disabled>Next</button>

		<h3>Player State</h3>
		<div id='playerstate'></div>

		<h3>Play Queue</h3>
		<ol id='playqueue' start='0'></ol>

		<h3>Music Library (sorted by title)</h3>
		<ol id='musiclibrary' start='0'></ol>

		<h3>Console</h3>
		<button id='button-clearconsole'>Clear</button>
		<div id='div-console' style='border: 1px solid black; height: 300px; overflow-y: scroll;'>
			<ul id='console' style='font-family: monospace;'></ul>
		</div>

		<!-- <script src="./scripts/assets/jquery.1.11.1.min.js"></script> -->
  		<script src="./scripts/assets/socket.io-1.2.0.js"></script>
		<!-- <script src="./scripts/assets/angular.min.js"></script> -->

		<script src="./scripts/volumio/index-socketio-controller.js"></script>

		<!-- <script src="./scripts/assets/bootstrap.min.js"></script>		
		<script src="./scripts/assets/ui-bootstrap-custom-0.12.0.min.js"></script>
		<script src="./scripts/assets/ui-bootstrap-custom-tpls-0.12.0.min.js"></script> -->
		
	</body>

</html>
