iconpath = /volumio/app/plugins/audio_interface/upnp/upnpicon.png
#upnpav = 0
openhome = 1
ohmetapersist = 1
cachedir = /tmp/upmpdclicache
presentationhtml = /volumio/app/plugins/audio_interface/upnp/presentation.html
externalvolumecontrol= 1
getexternalvolume= /tmp/getvolume
onvolumechange= /tmp/setvolume
# onstart =
# onplay =
# onstop =
# onvolumechange =
ohmanufacturername = Volumio
ohmanufacturerurl = http://volumio.org
ohmodelname = Volumio
ohmodelurl = http://volumio.org
#ohmodelimageuri =


### Parameters for the Songcast modes
#sclogfilename = /tmp/scmpdcli.log
#scloglevel = 6
#scplaymethod = mpd
#schttpport = 8768
#scalsadevice = default
#sc2mpd = /usr/bin/sc2mpd
## Parameters tor the Sender/Receiver mode. Only does anything if
## scplaymethod is alsa
#scripts_dir = /usr/share/upmpdcli/src_scripts
