@import "_settings";

*
{
  box-sizing: border-box;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
li,
p,
table
{
  padding: 0;
  margin:  0;
}

img,
table
{
  border:  none;
}


body,
html
{
  height:  100%;
  overflow-x:  hidden;
  width:  100%;
}

body
{
  background:  $volumio-ui-body-background;
  color:  $volumio-ui-body-color;
  font-family: $volumio-ui-text-body;
  line-height:  $volumio-ui-line-height-body;
  padding-top: $volumio-ui-sticky-header-height;
}