<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<style>
			#div-console {
				border: 1px solid black;
				height: 400px;
				overflow-y: scroll;
			}
			#div-console ul {
				list-style-type: none;
				padding: 0px;
				margin: 0px;
			}
			#div-console ul li pre {
				padding: 0px;
				margin: 0px;
			}
			#div-browser li, #div-playqueue li {
				clear: both;
			}
			.button-itemaction {
				float: right;
			}
		</style>
	</head>
	<body>
		<h3>Player State</h3>
			<button id='button-volumioplay' class='control-websocket' disabled>Play</button>
			<button id='button-volumiopause' class='control-websocket' disabled>Pause</button>
			<button id='button-volumiostop' class='control-websocket' disabled>Stop</button>
			<button id='button-volumioprev' class='control-websocket' disabled>Prev</button>
			<button id='button-volumionext' class='control-websocket' disabled>Next</button>
			<button id='button-volumeup' class='control-websocket' disabled>Volume UP</button>
			<button id='button-volumedown' class='control-websocket' disabled>Volume Down</button>
			<button id='button-volumemute' class='control-websocket' disabled>Volume Mute</button>
			<button id='button-volumeunmute' class='control-websocket' disabled>Volume UnMute</button>
			<br />
			<br />
			<div id='playerstate'></div>

		<h3>Play Queue</h3>
			<ol id='div-playqueue' start='0'></ol>

		<h3>Music Library</h3>
			<button id='button-libraryback' class='control-local' disabled>Back</button>
			<button id='button-libraryforward' class='control-local' disabled>Forward</button>

			<div id='div-browsertitle'></div>
			<div id='div-browser'>
				<ol id='browseview' start='0'></ol>
			</div>

		<h3>Playlist Manager</h3>
			<button id='button-playlistback' class='control-local' disabled>Back</button>
			<button id='button-playlistforward' class='control-local' disabled>Forward</button>

			<div id='div-playlisttitle'></div>
			<div id='div-playlist'>
				<ol id='playlistview' start='0'></ol>
			</div>

		<h3>Settings</h3>
			<button id='button-spopupdatetracklist' class='control-websocket' disabled>Refresh Spop Tracklist</button>
			<button id='button-volumiorebuildlibrary' class='control-websocket' disabled>Rebuild Volumio Library</button>
			<button id='button-volumioimportplaylists' class='control-websocket' disabled>Import Playlists From Services</button>

		<h3>Console</h3>
			<button id='button-clearconsole'>Clear</button>
			<div id='div-console' style='border: 1px solid black; height: 400px; overflow-y: scroll;'>
				<ul id='console' style='font-family: monospace;'></ul>
			</div>

		<script src="./scripts/assets/socket.io-1.2.0.js"></script>
		<script src="./scripts/volumio/index-socketio-controller.js"></script>
	</body>
</html>
