[global]
netbios name = {NAME}
server string = Audiophile Music Player
workgroup = WORKGROUP
security = user
map to guest = Bad User
encrypt passwords = yes
wins support = yes
local master = no
preferred master = no
os level = 30
create mask = 0664
directory mask = 2755
force create mode = 0644
force directory mode = 2755

[Internal Storage]
        comment = {NAME} Internal Music Folder
        path = /data/INTERNAL
        read only = no
        guest ok = yes

[USB]
        comment = {NAME} USB Music Folder
        path = /mnt/USB
        read only = no
        guest ok = yes

[NAS]
        comment = {NAME} NAS Music Folder
        path = /mnt/NAS
        read only = no
        guest ok = yes
