general =
{
    name = "${name}";
    log_verbosity = 0;
    interpolation = "soxr";
};

alsa =
{
  output_device = "${device}";
};

sessioncontrol =
{
  allow_session_interruption = "yes";
};

metadata =
{
    enabled = "yes";
    include_cover_art = "no";
    pipe_name = "/tmp/shairport-sync-metadata";
    pipe_timeout = 5000;
};
