general =
{
    name = "${name}";
    log_verbosity = 1;
    interpolation = "soxr";
};

alsa =
{
  output_device = "${device}";
};

sessioncontrol =
{
  run_this_before_play_begins = "/usr/bin/mpc stop";
  allow_session_interruption = "yes";
};

