general =
{
    name = "${name}";
};

alsa =
{
  output_device = "${device}";
};

sessioncontrol =
{
  run_this_before_play_begins = "/usr/bin/mpc stop";
};
metadata =
{
	enabled = "yes";
	include_cover_art = "yes";
	pipe_name = "/tmp/shairport-sync-metadata";
}
