@mixin grid-size($size)
{
  @if $size == smartwatch
  {
    $grid-columns: $grid-cols-smartwatch;
  }
  @else if $size == mobile
  {
    $grid-columns: $grid-cols-mobile;
  }
  @else if $size == tablet
  {
    $grid-columns: $grid-cols-tablet;
  }
  @else if $size == desktop
  {
    $grid-columns: $grid-cols-desktop;
  }
}

// default gutter when not using a mediaquery (assumes smart watch first)
$grid-columns: 4 !default;